header.PageHeader {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  min-height: 66vh;
  overflow-wrap: break-word;
  position: relative;
  text-size-adjust: 100%;
  text-transform: none;

  & div.Background {
    background-color: rgb(40, 5, 46);
    bottom: 0px;
    color: white;
    display: block;
    left: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;

    & div.Overlay {
      background-color: rgba(40, 5, 46, 0.3);
      bottom: 0px;
      display: block;
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    & img {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      overflow-x: clip;
      overflow-y: clip;
      position: relative;
      width: 100%;
    }
  }

  & div.ContentsWrapper {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 6.6vmax;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 6.6vmax;
    position: relative;
    width: 100%;

    & div.Contents {
      width: 75%;
    }
    @media screen and (max-width: 767px) {
      & div.Contents {
        width: 100%;
      }
    }
  
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 64px;
      line-height: calc(1.4em * (1 + -3 / 25));
      margin: 0;
      margin-bottom: 32px;
      white-space: pre-wrap;
      letter-spacing: normal;
    }
    @media screen and (min-width: 1512px) {
      h1 {
        font-size: calc(4rem);
      }
    }
    @media screen and (min-width: 768px), screen and (max-width: calc(1511px)) and (orientation: landscape) {
      h1 {
        font-size: calc(min(calc(3.6vw + 1rem), 4rem));
      }
    }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      h1 {
        font-size: calc(min(calc(3 * calc(0.012 * min(100vh, 900px)) + 1rem), 4rem));
      }
    }

    p,
    a {
      font-weight: 300;
      line-height: 1.8em;
      letter-spacing: 0.02em;
      margin: 0;
      margin-top: 16px;
      color: white;
    }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      p {
        font-size: calc((1.1 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
      }
    }
    @media screen and (min-width: 768px), screen and (max-width: calc(1512px - 1px)) and (orientation: landscape) {
      p {
        font-size: calc((1.1 - 1) * 1.2vw + 1rem);
      }
    }
    @media screen and (min-width: 1512px) {
      p {
        font-size: calc(1.1 * 1rem);
      }
    }
  }
}
